<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header}"></head>
<body>
<div th:replace="~{fragments/menu}"></div>
<div class="container">
    <form th:action="@{/users/register}" method="post" class="w-25 mt-5 mx-auto p-3 shadow">
        <div th:if="${error}">
            <p class="alert alert-danger" th:text="${error}">Error message</p>
        </div>
        <div class="mb-3">
            <label for="name" class="text-l">
                <b>Ваше имя</b>
            </label>
            <div>
                <input type="text" id="name" name="name" class="form-control" required>
            </div>
        </div>
        <div class="mb-3">
            <label for="login" class="text-l">
                <b>Логин</b>
            </label>
            <div>
                <input type="text" id="login" name="login" class="form-control" required>
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="text-l">
                <b>Пароль</b>
            </label>
            <div>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
        </div>
        <div class="mb-3">
            <label for="timezone" class="text-l">
                <b>Часовой пояс</b>
            </label>
            <select id="timezone" name="timezone" class="form-control" required>
                <option th:each="zone: ${zones}" th:value="${zone.id}" th:text="|${zone.id} (${zone.offset})|"
                        th:selected="${zone.id == timeZone}"></option>
            </select>

        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-success w-100">Зарегистрироваться</button>
        </div>
        <span>
            Уже зарегистрированы?
            <a th:href="@{/users/login}">Вход</a>
        </span>
    </form>
</div>
</body>
</html>
